
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoodEats.ie </title>
    <link href="~/Content/Internal.Content/styles.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   

</head>

<body>


    <div class="navbar navbar-fixed-top">
        <div class="bike">
            <img src="~/Content/Internal.Content/images/delivery_bike.png" alt="" />
        </div>
        <div class="container-nav">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GoodEats!.ie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div class="navbar-collapse collapse">
                <div class="nav-menu">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li><a class="Login" data-toggle="modal" data-target="#loginModal">Log in </a></li>
                        <li class="Register">@Html.ActionLink("Sign Up", "Register", "User")</li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
    @Html.BeginForm("Login", "User", FormMethod.Post){
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
         aria-labelledby="modal" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modaltitle"> Log in </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="emailsection">

                        <input type="email" class="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="passwordsection">
                        <input type="password" class="password" name="password" placeholder="Enter a password">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                    <button type="submit" class="btn btn-primary"> Log in</button>
                </div>

            </div>


        </div>
        }
    </div>
        </div>


    <div class="bg">

        <div class="Hero">
            <h2>Order From Local Business</h2>
            <p>Find a place near you</p>
            <input type="text" />
            <button type="button" class="btn btn-primary">Search</button>
        </div>

    </div>

    <div class=" wrapper">
   <!--- <div class="container body-content"> -->



        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GoodEats.ie All Rights Reserved</p>
        </footer>
    </div>
 <!--      </div> -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
